.gridRight {
    padding-left: 2.5rem;
}

.ffAppHeader, .ffGridRow, .ffCentered {
    margin-bottom: 2.5rem !important;
}

.ffList li {
    list-style-type: none;
    margin-bottom: 0.5rem;
}

.ffCentered {
    width: 100%;
    text-align: center;
}

.ffModal {
    background-color: #fcfffd;
    border-radius: 1rem;
    width: 80%;
    height: 80%;
    margin: 10%;
}

